# Archivos compilados de Delphi
*.dcu
*.exe
*.dll
*.bpl
*.dcp
*.dsk
*.local
*.identcache
*.tvsconfig
*.dproj.local
*.vlb
*.identcache
*.res
*.rsp
__history/
__recovery/
Win32/
Win64/
.git
UniDataConn.dfm

# Configuración sensible (MySQL, etc.)
config.ini
database.cfg
*.key
*.lic
