# Archivos compilados de Delphi
*.dcu
*.exe
*.dll
*.bpl
*.dcp
*.dsk
*.local
*.identcache
*.tvsconfig
*.dproj.local
.vlb
.identcache
__history/
__recovery/
Win32/
Win64/
.git

# Configuración sensible (MySQL, etc.)
config.ini
database.cfg
*.key
*.lic
